:root {
    --main-color: rgb(29, 29, 29);
    --card-color: rgb(51, 51, 51);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--main-color);
}

header {
    text-align: center;
    color: white;
}

#project-container {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


#addProjectForm {
    width: 20vw;
    height: 50vh;
    color: black;
    display: flex;
    flex-direction: column;
}

form input,
form label,
form textarea,
form button {
    padding: .5rem;
    width: 200px;
}

#addNoteBtn,
#addProjectBtn {
    border: solid 2px white;
    margin-right: auto;
}

.card {
    color: white;
    background-color: var(--card-color);
    border: solid 2px grey;
    border-radius: 7px;
    margin-left: 20px;
    padding-left: 10px;
    width: 250px;
    height: 250px;
}

button .card {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* #projectInfo {
    width: 90vw;
    height: 90vh;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
} */
#projectInfo {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: rgb(0, 0, 0, 1);
    color: white;
}

#project-dialog-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projectInfo h2 {
    text-align: center;
}

#projectInfo h3,
h4,
h5 {
    font-size: 18px;
}

#project-dialog-form input {
    width: 400px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    color: white;
    font-size: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#dialog-header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

#addNoteBtn {
    width: 48px;
    aspect-ratio: 1;
}

#exit-button {
    width: min-content;
    height: min-content;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}