:root {
    --main-color: rgb(20, 17, 17);
    --card-color: rgb(0, 0, 0);
    --card-border-color: rgb(113, 71, 126);
    --gradient-sides: #7a7a7a;
    --gradient-mid: #ffffff;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--main-color);
}

header {
    text-align: center;
    color: white;
}

header h1 {
    background: linear-gradient(90deg, var(--gradient-sides) 40%, var(--gradient-mid) 50%, var(--gradient-sides) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#project-container {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


#addProjectForm {
    width: 20vw;
    height: 50vh;
    color: black;
    display: flex;
    flex-direction: column;
}

form,
dialog,
fieldset {
    background-color: var(--main-color);
    border: none;
}

label,
legend,
input,
option,
textarea {
    color: white;
}

input::placeholder,
textarea::placeholder {
    color: rgb(230, 100, 100);
}

form input,
form label,
form textarea,
form button {
    padding: .5rem;
    width: 200px;
}

textarea,
input,
select {
    background-color: rgb(26, 26, 26);
}

#addNoteBtn,
#addProjectBtn {
    border: solid 2px white;
    margin-right: auto;
}

.card {
    color: white;
    background: linear-gradient(-30deg, rgba(15, 15, 15, .9) 0%, rgb(0, 0, 0, 0.4) 55%);
    border: solid 2px;
    border-color: var(--card-border-color);
    border-radius: 7px;
    margin-left: 20px;
    padding-left: 10px;
    width: 250px;
    height: 250px;
}

.card header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.delete-button {
    position: relative;
    top: -248px;
    left: 230px;
    border: solid 1px black;
    border-radius: 5px;
    aspect-ratio: 1;
    height: 48px;
}

.delete-button:hover {
    background-color: red;
}

button .card {
    display: flex;
    align-items: center;
    justify-content: center;

}

#projectInfo {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: rgb(165, 30, 113);
    background-color: var(--main-color);
    color: white;
}

#project-dialog-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projectInfo h2 {
    text-align: center;
}

#projectInfo h3,
h4,
h5 {
    font-size: 18px;
}

#project-dialog-form input {
    width: 400px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    color: white;
    font-size: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#project-note-container {
    display: flex;
}

#dialog-header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

#exit-button {
    width: min-content;
    height: min-content;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

#project-note-container {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
}

#note-list {
    display: flex;
    flex-wrap: wrap;
}

#addNoteDialog form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
}

#addNoteDialog input,
#addNoteDialog textarea {
    width: 90%;
}

#addNoteDialog select {
    width: 50%;
}

a {
    text-decoration: none;
}